body {
  font-family: 'Montserrat', sans-serif;
  padding-top: 50px;
}

footer {
  background-color: rgb(228, 228, 228);
}

.box {
  padding-top: 3.5em;
}

.title-font {
  color: #A81E14;
}

.smaller-img {
  max-width: 250px;
  padding: 10px;
  margin: 0 auto;
}

.row-tall {
  padding-top: 50px;
  padding-bottom: 100px;
}

.fixed-bg {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.channels {
  max-width: 32px;
}

.bg-1 {
  background-image: url(../img/pariscape_blue.jpg);
}

.bg-2 {
  background-image: url(../img/pariscape_bw.jpg);
}

.color-bg {
  background-color: #F4F4F4;
}

.outline {
  border: 1px solid black;
}

.screen {
  transition: all .2s ease-in-out;
}

.screen:hover {
  filter: brightness(130%);
  transform: scale(1.05);
}
